*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: rgb(200, 238, 238);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    background-color: black;
    display: flex;
    align-items: center;
    padding: 5px 20px;
}
.logoimage a{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    /* text-decoration: underline; */
    color: orange;
}
.logoimage img{
    width: 70px;
    height: auto;
    border-radius: 50px;
    /* padding: 0px 10px 0px 0px; */
}
nav a{
    color: rgb(34, 230, 50);
}
.logoimage{
    align-content: space-around;
    width: 10px;
    flex: 1;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
@media screen and (max-width:670px) {
    nav{
        display: block;
        position: relative;
        padding: 15px 20px;
    }
    .menu{
        margin-top: 15px;
        /* display: none; */
    }
    .menu.active, .toggle{
        display: block;
    }
    .toggle{
        position: absolute;
        top: 15px;
        right:20px;
        color: wheat;
    }
}
@media screen and (max-width: 670px){
    
    /* ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    } */
    /* nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    } */

    /* nav ul li a{
        font-size: 20px;
    } */
    a.active,a:hover{
        background: none;
        color: rgb(231, 71, 18);
    }
    /* #check:checked ~ ul{
        left: 0;
    } */
}

.menu li{
    padding: 10px;
    font-size: 23px;
    border: 2px solid;
    background-color: rgb(3, 3, 17);
}
.menu li:hover{
    background-color: rgb(21, 97, 211);

}
.toggle{
    font-size: 30px;
    /* display: none; */
}

.team_container{
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

.text{
    color: black;
    font-size: 35px;
    font-family: 'Lora', serif;

    font-weight:lighter;
    /* text-decoration: underline; */
    text-transform: uppercase;
    text-align: center;
}
.row1{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    justify-items: center;

}
.row{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;

}

.profile-card{
    background-color:rgb(149, 202, 242);
    width: 280px;
    height: 360px;
    margin: 20px 20px 10px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px  rgb(65, 77, 15);
}

.profile-card1{
    background-color:rgb(220, 242, 131);
    width: 320px;
    height: 380px;
    margin: 20px 20px 10px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px  rgb(65, 77, 15);
}
.profile-card:hover{
    background-color: rgb(11, 108, 219);
}
.profile-card1:hover{
    background-color: rgb(232, 153, 25);
}
.profile-content1{
    padding: 15px;
}

.profile-image1{
    text-align: center;
}
.desc1{
    font-family:'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 25px;
    color:rgb(17, 10, 155);
    font-weight: bolder; 
}

.btn-div1{
    text-align: center;
    margin-bottom: 15px;
}
.btn:hover{
    background-color: rgb(141, 141, 245);
    width: 170px;
}
.profile-content{
    padding: 15px;
}
img{
    width: 140px;
    height: 150px;
    border-radius: 150px;
}

.profile-image{
    text-align: center;
}
.desc{
    font-family:'Times New Roman', Times, serif;
    margin-top: 5px;
    margin-bottom: 7px;
    text-align: center;
    font-size: 25px;

    color:rgb(4, 30, 4);
        
    font-weight: bolder;
}

.btn-div{
    text-align: center;
    margin-bottom: 10px;
}
.btn{
    background-color:rgb(36, 234, 36);
    color: black;
    width: 150px;
    cursor: pointer;
    height: 22px;
    font-size: 17px;
    font-weight: 600px;
    box-shadow: 3px 3px 3px 3px rgb(8, 78, 8);
    border-radius: 3px;
    outline: none;
       
    border: none;
}
.footer{
    margin-top: 30px;
    padding: 30px 0;
    background-color: black;
}
.social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a{
    font-size: 30px;
    color: inherit;
    border: 2px solid rgb(223, 234, 161);
    width: 50px;
    height: 50px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    
    opacity: 0.7;
}
.footer .social a:hover{
    opacity: 1;
    color: rgb(209, 209, 35);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: center; 
}
.footer ul li a{
    color: white;
    text-decoration: none;
    opacity: 0.8;
    text-transform: uppercase;
    
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
    color: yellow;
}
.footer .copyright{
    color: white;
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}